@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

.container {
    max-width: 1170px;
    margin: 0 auto;
}



.text {
    color: #73879c;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-transform: none;
}

.top-block-bg {
    background-color: #f5f7fa;
    padding-bottom: 15px;
    box-shadow: 0 1px 0 #e6e9ed;
}

.top-block-contacts {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #506a85;
}

.top-block-networks {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: #506a85;
}

.contact {
    margin-right: 8px;
}

.phone {
    margin-left: 30px;
}

.header {
    padding-top: 37px;
}

.nav__menu {
    list-style-type: none;
    color: #506a85;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.nav {
    position: relative;
    bottom: 40px;
}

.nav-link {
    color: #506a85;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #506a85;
    padding-bottom: 10px;
    transition: .7s ease-out;
}

.nav-link:hover {
    background-color: #f5f7fa;
    color: #00bc9c;
    ;
}

.nav-link:visited {
    color: #506a85;
}

.nav-list {
    transition: .2s linear;
}

.nav-list:hover .nav-link {
    color: #00bc9c;
}


.search {
    background: none;
    outline: none;
    border: none;
    margin-right: 10px;
}

.drop-box,
.drop-home-box {
    background-color: #f5f7fa;
    position: absolute;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transform: translate3d(0, 30px, 0);
    transition: .5s ease-out;
    transform-origin: 0% 0%;
    visibility: hidden;
    z-index: 11;
    opacity: 0;
}

.drop-box {
    padding: 30px 40px 42px;
    width: 100%;
    left: 0;
}

.drom-home-main {
    list-style-position: inside;
    padding-inline-start: 0px;
    display: block;
    list-style-type: none;
}

.drop-home-list {
    padding: 0px 80px 0px 20px;
    border-bottom: 1px solid #e6e9ed;
    transition-duration: 0.9s;
}

.drop-home-link {
    color: #73879c;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    line-height: 43px;
    width: 200px;
}

.drop-home-list:hover {
    background-color: #00bc9c;

}

.drop-home-list:hover .drop-home-link {
    text-decoration: none;
    color: #000;
    transition-duration: 0.9s;
}


.drop-menu {
    box-sizing: border-box;
    width: 240px;
}

.nav-list:hover .drop-home-box {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.nav-list:hover .drop-box {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.drop-menu-heading {
    color: #506a85;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.8px;
}

.drop-menu__focus {
    height: 164px;
    background-color: #17a78b;
    background-image: url(../images/drop-add-img.png);
    line-height: 164px;
}

.add-image {
    color: #fff;
}

.btn {
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    background-color: #17a78b;
    padding: 16px 19px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.42px;
}

.drop-menu-ul {
    list-style-type: circle;
    color: #00bc9c;
    padding-inline-start: 22px;
}

.drop-menu-text {
    color: #73879c;
    font-weight: 400;
    font-size: 13px;
}

.drop-menu-text:hover {
    color: #00bc9c;
}

.latest-works {
    height: 81px;
    width: 118px;
    margin-bottom: 5px;
    background-color: #17a78b;
}

.drop-menu-latest {
    margin-top: 15px;
}

.latest-works-1 {
    background-image: url(../images/latest-works-add.png);
}

.latest-works-2 {
    background-image: url(../images/latest-works-2.jpg);
}

.latest-works-3 {
    background-image: url(../images/latest-works-3.jpg);
}

.latest-works-4 {
    background-image: url(../images/latest-works-4.jpg);
}

.latest-works-5 {
    background-image: url(../images/latest-works-5.jpg);
}

.latest-works-6 {
    background-image: url(../images/latest-works-6.jpg);
}

.carousel-img {
    width: 100vw;
    max-height: 880px;
}

.carousel-caption {
    max-width: 945px;
    margin: 0 auto;
    bottom: 28%;
}

.carousel-heading {
    color: #ffffff;
    font-size: 78px;
    font-weight: 900;
    letter-spacing: 4.1px;
    line-height: 88px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.carousel-heading-2 {}

.carousel-text {
    color: #a3b1bf;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;
}

.carousel-btn {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 25px 70px;
    outline: none;
    border: none;
}

.btn,
.btn:active,
.btn:hover,
.btn:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    transition-duration: 0.3s;
}

.btn:hover {
    background-color: #506a85;
    color: #000;
}

.carousel-caption-2 {
    right: 4%;
    bottom: 25%;
}

.carousel-content-2 {
    text-align: right;
}

.carousel-text-2 {
    text-align: right;
}

.carousel-text,
.carousel-text-2,
.carousel-text-3 {
    color: #ffffff;
}

.carousel-caption-3 {
    left: 4%;
    bottom: 25%;
}

.carousel-content-3 {
    text-align: left;
}

.carousel-heading-3,
.carousel-content-3,
.carousel-text-3 {
    text-align: left;
    color: #506a85;
}

.carousel-caption-4 {
    right: 0%;
    left: 20%;
    bottom: 35%;
}

.carousel-content-4 {
    text-align: right;
    max-width: 820px;
}

.carousel-text-4 {
    text-align: right;
    color: #ffffff;
}

.carousel-heading-4 {
    line-height: 120px;
}

.carousel-caption-5 {
    bottom: 45%;
}

.carousel-content-5 {
    max-width: 700px;
    margin: 0 auto;
}

.carousel-indicators {
    width: 145px;
    height: 45px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 3px;
    bottom: -20px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #506a85;
}

.active li {
    background-color: #00bc9c;
}

.carousel-indicators .active {
    background-color: #00bc9c;
}

.carousel-control-prev-icon {
    background-image: url(../images/carousel-control-left.png);
    width: 16px;
    height: 27px;
}


.carousel-control-next-icon {
    background-image: url(../images/carousel-control-right.png);
    width: 16px;
    height: 27px;
}

.who-we-are {
    margin-top: 100px;
    margin-bottom: 100px;
}

.heading-h2 {
    margin-bottom: 40px;
    font-size: 44px;
    text-align: center;
    text-align: center;
    color: #506a85;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 54px;
}

.who-we-are-text {
    line-height: 35px;
    font-size: 22px;
    text-align: center;
    width: 72%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.heading-h3 {
    color: #506a85;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.52px;
    line-height: 34px;
    font-weight: 400;
}

.quality-text {
    color: #73879c;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.quality-img {
    margin-top: 7px;
}

.check-out-works {
    padding-top: 130px;
    background-color: #f2f5f7;
    padding-bottom: 80px;
}

.card-title {
    color: #506a85;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.card-text {
    color: #73879c;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
}

.card-deck {
    margin-bottom: 80px;
}

.carousel-indicators-group {
    position: absolute;
    bottom: 20px;
    z-index: 210;
    width: 100px;
    background-color: transparent;
}

.carousel-group-padding {
    padding-bottom: 80px;
}

.carousel-control-prev-group {
    height: 180px;
    width: 110px;
}

.carousel-control-next-group {
    height: 180px;
    width: 110px;
}

.carousel-control-group-prev {
    left: 500px;
}

.carousel-control-group-next {
    right: 500px;
}

.carousel-control-group-next,
.carousel-control-group-prev {
    top: 198px;
    width: 28px;
    height: 28px;
    position: absolute;
    color: rgb(255, 255, 255);
    background: none;
    background-color: #9ea0a1;
    border-radius: 3px;
    transition-duration: 0.3s;
}

.carousel-control-group-next:hover,
.carousel-control-group-prev:hover {
    color: #00bc9c;
    background-color: #506a85;
}

.work-with-us {
    padding-top: 130px;

}

.car-con-hidden-left,
.car-con-hidden-right,
.car-con-hidden {
    opacity: 0;
    transition-duration: 1s;
}

.carousel:hover .car-con-hidden {
    opacity: 1;
    animation: fadeInUp;
    animation-duration: 0.7s;
}

.carousel:hover .car-con-hidden-left {
    opacity: 1;
    animation: fadeInLeft;
    animation-duration: 0.7s;
}

.carousel:hover .car-con-hidden-right {
    opacity: 1;
    animation: fadeInRight;
    animation-duration: 0.7s;
}

h2 {
    animation-delay: 0.2s;
}

p {
    animation-delay: 0.7s;
}

button {
    animation-delay: 1s;
}